.web-dev{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  padding-top: 100px;
  padding-bottom: 2rem;
}

.web-dev h1{
  font-size: 50px;
  margin-bottom: 20px;
}
.whole{
    display: flex;
    background-color:white;
    height: 55rem;
    display: flex;
    justify-content: center;
    color: #191f36;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.htmlfile{
    display: flex;
    background-color: white;
    height: 80%;
    width: 23%;
}

